<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="table">
    Remove all messages:
    <button class="btn btn-warning" ng-click="clean()">Clean chat</button>
    <span ng-if="isCleaned" class="label label-success">
      Success!
    </span>
  </div>
  <div class="table">
    <table datatable='ng'>
      <caption>Users</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td><a ng-click="deleteUser(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table">
    <table datatable='ng'>
      <caption>Messages</caption>
      <thead>
        <tr>
          <th>Content</th>
          <th>Specific</th>
          <th>Date</th>
          <th>User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="message in messages">
          <td>{{message.content}}</td>
          <td>{{message.notforall}}</td>
          <td>{{message.date | date: 'MMM d, y h:mm:ss a' }}</td>
          <td>{{message._user.name}}</td>
          <td><a ng-click="deleteMessage(message)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
