/* Basic */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-fix {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 0;
}

.main-container {
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
}

/* Test */
.vertical-container {
    height: 100%;
}

@media (max-width: 768px) {
    .vertical-container {
        height: auto;
    }
}
/* Test*/

.green {
    background: green;
}
.blue {
    background: blue;
}
/* Chat */
/* Left container*/
.left-container {
    padding: 0;
}

.online-count {
    padding: 5px 10px 6px 11px;
    border-bottom:1px solid #ddd;
}

.users-online {
    padding:5px;
    margin:0;
}

.user-name {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
    cursor: pointer;
}

.user-name:hover {
    background: #e0eaf3;
}

.user-online {
    color: #0BDA51;
}

.reply-arrow {
    float: right;
    position: relative;
    bottom: 1px;
}
/* Middle container*/
.middle-container {
    padding: 0 !important;
    margin: 0;
    // display: flex;
    // flex-direction: column;
    display: inline-block;
    vertical-align: middle;
}

.messages-wrapper {
    background-color: rgba(190, 190, 190, 0.35);
    border: 1px solid #ccc;
    // flex: 12 0 0;
    height: 85%;
    position: relative;
    margin-bottom: 5px;
    overflow: auto;
}

.send-message-wrapper {
    background: #f5f5f5;
    border: 1px solid #ccc;
    position: relative;
    width: 100%;
    // flex: 1 0 0;
    height: 9%; // 80 + 19 = 99
    margin-left: 0;
}

.message-box {
    height: 65px;
    padding: 5px;
}

.message-box-input {
    height: 65px;
}

.message-box-button {
    height: 65px;
}

.specific {
    padding: 10px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f39c12;
    border: 0;
    border-bottom: 2px solid #e8930c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #e8930c;
    box-shadow: inset 0 -2px #e8930c;
}
.specific:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.specific-text {
    position: relative;
    color: black;
    bottom: 2px;
}
/* History */
.previous-button {
    background: none;
    text-align: center;
    color:#aaa;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    color: #45688E;
    cursor: pointer;
}

.previous-button:hover {
    background-color: #8BA1BC;
    color:white;
}
/* Messages */
.message {
    // background:red;
    margin-top: 0px;
}

.message-wrapper {
    float:left;
}

.message-wrapper-current {
    float:right;
    padding: 0;
}

.between {
    margin-bottom: 15px !important;
}

.message-content-other {
    float: left;
    padding: 3px 10px 4px;
    position: relative;
    word-break: normal;
    max-width: 662px;
    background-color: rgba(190, 190, 190, 0.3);
    border: 1px solid #CCCCCC;
}

.message-content-current {
    padding: 3px 10px 4px;
    position: relative;
    word-break: normal;
    max-width: 662px;
    background: #e0eaf3;
    border: 1px solid #b9c4da;
}

.message-username {
    text-align: right;
    padding-right: 1px;
    padding-top: 5px
}

.message-username-current {
    text-align: left;
    padding-left: 1px;
    padding-top: 5px;
}

.arrow {
    position: relative;
    width: 0;
    top: 7px;
    float: left;
}

.arrow-current {
    float: right;
    left: 9px;
    position: relative;
    top: 7px;
    width: 0;
}

.arrow-others {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid #CCCCCC;
    border-top: 10px solid rgba(0, 0, 0, 0);
}

.arrow-triangle-current {
    border-bottom: 10px solid rgba(0, 0, 0, 0);
    border-left: 10px solid #b9c4da;
    border-top: 10px solid rgba(0, 0, 0, 0);
}

.message-text-wrapper {
    background-color: rgba(190, 190, 190, 0.3);
    border: 1px solid #CCCCCC;
}

.message-text-wrapper-current {
    background: #e0eaf3;
    border: 1px solid #b9c4da;
}

.message-time-posted {
    float: left;
    padding: 3px 0 0 14px;
}

.message-time-posted-current {
    padding-right: 13px;
    padding-top: 3px;
    float: right
}

.specific-wrapper {
    color: red;
}

/* Right container */
.right-container {
    padding: 5px;
}

