<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid container-fix">
    <span class="main-container vertical-container">
        <div class="row vertical-container">
            <div class="col-xs-12 col-sm-2 left-container vertical-container">
                <div class="online-count">Currently online: {{usersOnline.length}} users</div>
                <div class="users-online" ng-repeat="user in usersOnline">
                    <div class="col-xs-12 col-sm-12 user-name" ng-click="reply(user.user)"
                                           ng-init="showReplyButton=false"
                                           ng-mouseover="showReplyButton=true"
                                           ng-mouseleave="showReplyButton=false"
                    >
                        <span class="name">
                            <i class="fa fa-user user-online"></i> {{user.user}} {{((user.current) ? '(You)' : '')}}
                            <span class="reply-arrow" ng-show="showReplyButton && !user.current">Reply <i class="fa fa-arrow-right"></i></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 middle-container vertical-container">
                <div class="messages-wrapper" scroll-bottom='messages'>
                    <div class="alert alert-info previous-button">
                        <strong ng-click="getEarliedHistory()">Load previous history from the chat</strong>
                    </div>

                    <div class="message" ng-repeat="message in messages">
                        <div class="row between">
                            <span ng-if="message._user.name !== currentUser.name">
                                <div class="col-sm-2 message-username">
                                    {{message._user.name}}
                                </div>
                                <div class="col-sm-10" style="display: inline-block">
                                    <div class="message-wrapper"  >
                                        <div class="arrow arrow-others"></div>
                                        <div class="message-content-other">
                                            <div ng-if="message.notforall" ng-init="isShowSpecific=false">
                                                <span class="specific-wrapper" ng-click = "isShowSpecific = !isShowSpecific">#Specific content (show)</span>
                                                <div ng-if="isShowSpecific" content>
                                                    {{message.content | to_trusted}}
                                                </div>
                                            </div>
                                            <div ng-if="!message.notforall" content>
                                                {{message.content | to_trusted}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-time-posted">
                                        <i class="fa fa-clock-o"></i>
                                        <span am-time-ago="">{{message.date | fromNow}}</span>
                                    </div>
                                </div>
                            </span>
                            <span ng-if="message._user.name === currentUser.name">
                                <div class="col-sm-10" style="display: inline-block">
                                    <div class="message-wrapper-current">
                                        <div class="arrow-current arrow-triangle-current"></div>
                                        <div class="message-content-current" >
                                            <div ng-if="message.notforall" ng-init="isShowSpecific=false">
                                                <span class="specific-wrapper" ng-click = "isShowSpecific = !isShowSpecific">#Specific content (show)</span>
                                                <div ng-if="isShowSpecific" content>
                                                    {{message.content | to_trusted}}
                                                </div>
                                            </div>
                                            <div ng-if="!message.notforall" content>
                                                {{message.content | to_trusted}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="message-time-posted-current">
                                        <i class="fa fa-clock-o"></i>
                                        <span am-time-ago="">{{message.date | fromNow}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 message-username-current">
                                    {{message._user.name}}
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="send-message-wrapper">
                    <div class="row">
                        <div class="input-group message-box">
                            <span class="input-group-addon specific" ng-click="specific=!specific">
                                <input ng-model="specific" type="checkbox">
                                <span class="specific-text">Specific content</span>
                            </span>
                            <input id="message"  ng-model="message" enter-submit="addMessage()" type="text" class="form-control message-box-input" placeholder="Write a reply..." enter-submit="addMessage()">
                            <span class="input-group-btn">
                                    <button ng-click="addMessage()" class="btn btn-default btn-success message-box-button" type="button">Send</button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 vertical-container">
                <div class="right-container vertical-container">
                    Coming soon
                </div>
            </div>
        </div>
    </span>
</div>
</div>
